/*reset styles.scss*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
html,
body,
header,
main,
footer,
section,
div,
nav,
ul,
ol,
li,
a,
p,
span,
b,
i,
em,
input,
label,
button,
textarea,
blockquote,
br,
canvas,
code,
dt,
dd,
del,
ins,
form,
iframe,
img,
pre,
sub,
sup,
table,
td,
th,
tfoot,
tr,
video,
audio,
aside,
article,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  outline: none;
}

@font-face {
  font-family: "Kudryashev Display";
  src: url("../fonts/KudryashevDisplay/KudryashevDisplay.eot");
  src: local("Kudryashev Display"), local("KudryashevDisplay"), url("../fonts/KudryashevDisplay/KudryashevDisplay.eot?#iefix") format("embedded-opentype"), url("../fonts/KudryashevDisplay/KudryashevDisplay.woff2") format("woff2"), url("../fonts/KudryashevDisplay/KudryashevDisplay.woff") format("woff"), url("../fonts/KudryashevDisplay/KudryashevDisplay.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Kudryashev Headline";
  src: url("../fonts/KudryashevDisplay/KudryashevHeadline.eot");
  src: local("Kudryashev Headline"), local("KudryashevHeadline"), url("../fonts/KudryashevDisplay/KudryashevHeadline.eot?#iefix") format("embedded-opentype"), url("../fonts/KudryashevDisplay/KudryashevHeadline.woff2") format("woff2"), url("../fonts/KudryashevDisplay/KudryashevHeadline.woff") format("woff"), url("../fonts/KudryashevDisplay/KudryashevHeadline.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Kudryashev-Bold";
  src: url("https://nomail.com.ua/files/eot/7271cd59216446a3228800f3bf4a20a0.eot?#iefix") format("embedded-opentype"), url("https://nomail.com.ua/files/woff/7271cd59216446a3228800f3bf4a20a0.woff") format("woff"), url("https://nomail.com.ua/files/woff2/7271cd59216446a3228800f3bf4a20a0.woff2") format("woff2");
}

@font-face {
  font-family: "Kudryashev-Bold";
  src: local("Kudryashev-Bold"), url("https://nomail.com.ua/files/woff/7271cd59216446a3228800f3bf4a20a0.woff") format("woff");
}

@font-face {
  font-family: 'Circe';
  src: url("../fonts/circe/Circe-Regular.eot");
  src: url("../fonts/circe/Circe-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/circe/Circe-Regular.woff") format("woff"), url("../fonts/circe/Circe-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body,
body a,
body button {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
}

.wrapper {
  overflow-x: hidden;
}

.container {
  max-width: 1630px;
  padding: 0px 15px 0px 15px;
  margin: 0 auto;
}

.container-wide {
  max-width: 1900px;
  margin: 0 auto;
}

.colorized {
  color: #b68c6e;
}

.offer__title {
  font-weight: 400;
  font-size: 65px;
  line-height: 126.2%;
  letter-spacing: -0.03em;
  color: #ffffff;
  font-family: "Kudryashev Headline";
}

@media (max-width: 600px) {
  .offer__title {
    font-size: 55px;
  }
}

@media (max-width: 500px) {
  .offer__title {
    font-size: 45px;
  }
}

@media (max-width: 450px) {
  .offer__title {
    font-size: 35px;
  }
}

@media (max-width: 350px) {
  .offer__title {
    font-size: 28px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Kudryashev Display";
}

h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 85px;
  line-height: 112.2%;
}

@media (max-width: 1100px) {
  h2 {
    font-size: 65px;
  }
}

@media (max-width: 650px) {
  h2 {
    font-size: 45px;
  }
}

@media (max-width: 500px) {
  h2 {
    font-size: 35px;
  }
}

h4 {
  font-weight: 400;
  font-size: 65px;
  line-height: 126.2%;
  letter-spacing: -0.03em;
}

h5 {
  font-weight: 400;
  font-size: 60px;
  line-height: 110%;
  letter-spacing: 4.95979px;
}

@media (max-width: 700px) {
  h5 {
    font-size: 50px;
  }
}

@media (max-width: 550px) {
  h5 {
    font-size: 40px;
  }
}

@media (max-width: 450px) {
  h5 {
    font-size: 30px;
  }
}

.header .header__block_1 .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__block_1 .info .info__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__block_1 .info .info__logo .info__logo-link {
  margin: 0px 33px 0px 0px;
}

.header .header__block_1 .info .info__logo .info__logo-description {
  width: 173px;
  font-weight: 400;
  font-size: 14px;
  line-height: 158.9%;
  color: #ffffff;
}

.header .header__block_1 .info .info__adress {
  width: 235px;
  position: relative;
}

.header .header__block_1 .info .info__adress .adress__current {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
}

.header .header__block_1 .info .info__adress::after {
  content: "";
  display: block;
  position: absolute;
  right: 20px;
  bottom: 6px;
  width: 12px;
  height: 8px;
  background: url("../img/stable/arrow-open.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header .header__block_1 .info .info__btn {
  padding: 15px 34px 15px 34px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 132.9%;
  color: #b68c6e;
}

.header .header__block_1 .info .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header .header__block_1 .info .socials .socials__item {
  margin: 0px 26px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 51px;
  height: 51px;
  background: rgba(255, 255, 255, 0.15);
}

.header .header__block_1 .info .socials .socials__item img {
  max-width: 22px;
  max-height: 22px;
}

.header .header__block_1 .info .socials .socials__item:last-child {
  margin: 0;
}

.header .header__block_1 .info .call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .header__block_1 .info .call .call__tel {
  margin: 0px 0px 13px 0px;
  font-family: "Kudryashev Headline";
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  position: relative;
}

.header .header__block_1 .info .call .call__tel::after {
  content: "";
  display: block;
  position: absolute;
  right: -8px;
  top: 50%;
  width: 12px;
  height: 8px;
  background: url("../img/stable/arrow-open.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header .header__block_1 .info .call .call__btn {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: underline;
  border: none;
  background: none;
}

.header .header__block_1 .nav {
  background: #ffffff;
  padding: 30px 0px 30px 0px;
}

.header .header__block_1 .nav .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__block_1 .nav .nav__list .nav__item .nav__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 135.4%;
  text-transform: uppercase;
  color: #1d1d1a;
}

.header .header__block_2 {
  display: none;
}

@media (max-width: 1450px) {
  .header .info .info__logo .info__logo-link {
    margin: 0px 0px 0px 0px;
  }
  .header .info .info__logo .info__logo-description {
    display: none;
  }
}

@media (max-width: 1400px) {
  .header .header__block_1 {
    display: none;
  }
  .header .header__block_1 .info .info__logo .info__logo-link {
    margin: 0px 0px 0px 0px;
  }
  .header .header__block_1 .info .info__logo .info__logo-description {
    display: none;
  }
  .header .header__block_2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .header__block_2 .header-burger {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header .header__block_2 .header-burger span {
    width: 30px;
    height: 14px;
    display: block;
    position: relative;
  }
  .header .header__block_2 .header-burger span::before, .header .header__block_2 .header-burger span::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }
  .header .header__block_2 .header-burger span::before {
    top: 0;
  }
  .header .header__block_2 .header-burger span::after {
    bottom: 0;
    width: 50%;
    right: 0;
  }
}

@media (max-width: 400px) {
  .header .header__block_2 {
    padding-top: 11px;
    padding-bottom: 45px;
  }
  .header .header__block_2 .logo-link {
    width: 147px;
    height: 60px;
  }
  .header .header__block_2 .logo-link img {
    width: 100%;
    height: 100%;
  }
}

.footer {
  padding: 100px 15px 10px 15px;
  background: #1d1d1a;
}

.footer .footer__wrapper {
  background: #d1ae8e;
  padding: 70px 80px 90px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer__wrapper .footer__block {
  max-width: 260px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  margin: 30px 0px 0px 0px;
}

.footer .footer__wrapper .footer__block .footer__block-name {
  margin: 0px 0px 17px 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
}

.footer .footer__wrapper .footer__block .footer__list .footer__item {
  margin: 0px 0px 19px 0px;
}

.footer .footer__wrapper .footer__block .footer__list .footer__item:last-child {
  margin: 0;
}

.footer .footer__wrapper .footer__block .footer__list .footer__item .footer__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
}

.footer .footer__wrapper .footer__block .footer__title {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  margin: 0px 0px 8px 0px;
}

.footer .footer__wrapper .footer__block_1 {
  margin: 0px 0px 0px 0px;
}

.footer .footer__wrapper .footer__block_1 .footer__logo {
  margin: 0px 0px 3px 0px;
}

.footer .footer__wrapper .footer__block_1 .footer__logo-descriuption {
  max-width: 250px;
  font-weight: 400;
  font-size: 14px;
  line-height: 158.9%;
}

.footer .footer__wrapper .footer__block_3 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.footer .footer__wrapper .footer__block_4 .footer__adress-block {
  margin: 0px 0px 12px 0px;
}

.footer .footer__wrapper .footer__block_4 .footer__adress-block .footer__adress {
  margin: 0px 0px 11px 0px;
}

.footer .footer__wrapper .footer__block_4 .footer__adress-block .footer__map-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #fff;
}

.footer .footer__wrapper .footer__block_4 .footer__email-block {
  margin: 0px 0px 22px 0px;
}

.footer .footer__wrapper .footer__block_4 .footer__email-block .footer__email {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
}

.footer .footer__wrapper .footer__block_5 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.footer .footer__wrapper .footer__block_5 .footer__tel-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 0px 20px 0px;
}

.footer .footer__wrapper .footer__block_5 .footer__tel-block .footer__tel {
  margin: 0px 0px 15px 0px;
  font-family: "Kudryashev Headline";
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #fff;
}

.footer .footer__wrapper .footer__block_5 .footer__tel-block .footer__tel-order {
  margin: 4px 0px 0px 0px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: underline;
  color: #ffffff;
}

.footer .footer__wrapper .footer__block_5 .footer__socails .footer__socials-list {
  height: 40px;
}

.footer .footer__wrapper .footer__block_5 .footer__socails .footer__socials-list .footer__socials-item {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0px 15px 0px 0px;
}

.footer .footer__wrapper .footer__block_5 .footer__socails .footer__socials-list .footer__socials-item img {
  width: 100%;
  height: 100%;
}

.footer .footer__wrapper .footer__block_5 .footer__socails .footer__socials-list .footer__socials-item:last-child {
  margin: 0px 0px 0px 0px;
}

.footer .footer__copyright-block {
  padding-top: 28px;
  padding-bottom: 22px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #dcd5ce;
}

.footer .footer__copyright-block .footer__copyright {
  font-family: 'Circe';
  margin: 0px 0px 6px 0px;
}

.footer .footer__copyright-block .footer__policy {
  color: #dcd5ce;
  text-decoration: underline;
}

@media (max-width: 1300px) {
  .footer .footer__wrapper .footer__block_1 {
    display: none;
  }
}

@media (max-width: 1050px) {
  .footer .footer__wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .footer .footer__wrapper .footer__block_2 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .footer .footer__wrapper .footer__block_3 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .footer .footer__wrapper .footer__block_4 {
    width: 260px;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
    display: block;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .footer .footer__wrapper .footer__block_5 {
    width: 260px;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
    display: block;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

@media (max-width: 700px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer .footer__wrapper {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 17px 15px 33px 15px;
  }
  .footer .footer__wrapper .footer__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footer .footer__wrapper .footer__block_1 {
    display: none;
  }
  .footer .footer__wrapper .footer__block_2 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .footer .footer__wrapper .footer__block_3 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
    display: none;
  }
  .footer .footer__wrapper .footer__block_4 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .footer .footer__wrapper .footer__block_4 .footer__email-block {
    margin: 0px 0px 17px 0px;
  }
  .footer .footer__wrapper .footer__block_4 .footer__time-block {
    display: none;
  }
  .footer .footer__wrapper .footer__block_5 {
    margin-top: unset;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer .footer__wrapper .footer__block_5 .footer__tel-block {
    margin: 28px 0px 0px 0px;
  }
  .footer .footer__copyright-block {
    padding: 18px 0px 0px 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
  .footer .footer__copyright-block .footer__policy {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
}

@media (max-width: 500px) {
  .footer .footer__wrapper {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .footer .footer__wrapper .footer__block_2 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .footer .footer__wrapper .footer__block_3 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .footer .footer__wrapper .footer__block_4 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .footer .footer__wrapper .footer__block_5 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 4;
    grid-row: 4;
  }
}

.breadcrumbs {
  padding-top: 28px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.breadcrumbs .breadcrumbs__link {
  color: #1D1D1A;
}

.breadcrumbs .breadcrumbs__link::after {
  content: "\a0::\a0";
}

.breadcrumbs .breadcrumbs__link:last-child::after {
  content: unset;
}

.proposal {
  background: #1d1d1a;
}

.proposal .proposal__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 120px;
  padding-bottom: 112px;
  color: #f0ebe6;
  position: relative;
}

.proposal .proposal__wrapper::before {
  content: "";
  position: absolute;
  display: block;
  border: 1.5px solid #b68c6e;
  width: 306px;
  height: 306px;
  border-radius: 50%;
  top: 87px;
  left: 480px;
}

.proposal .proposal__wrapper .proposal__block_1 {
  max-width: 640px;
}

.proposal .proposal__wrapper .proposal__block_1 .proposal__title {
  font-family: "Kudryashev Display";
  font-weight: 400;
  font-size: 60px;
  line-height: 103%;
  letter-spacing: 4.2px;
  margin: 0px 0px 17px 0px;
}

.proposal .proposal__wrapper .proposal__block_1 .proposal__info .proposal__description {
  font-weight: 400;
  font-size: 20px;
  line-height: 184.5%;
  color: #b68c6e;
}

.proposal .proposal__wrapper .proposal__block_1 .proposal__info .proposal__tel {
  margin: 7px 0px 7px 0px;
  font-weight: 400;
  font-size: 47px;
  line-height: 103%;
  letter-spacing: 4.2px;
  font-family: "Kudryashev Display";
  color: #f0ebe6;
}

.proposal .proposal__wrapper .proposal__block_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0px 172px 0px 0px;
}

.proposal .proposal__wrapper .proposal__block_2 .proposal__enroll a {
  font-weight: 700;
  font-size: 25px;
  line-height: 140%;
  text-transform: uppercase;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.proposal .proposal__wrapper .proposal__block_2 .proposal__enroll a::after {
  margin: 0px 0px 0px 16px;
  content: "";
  display: block;
  background: transparent;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.proposal .proposal__wrapper .proposal__block_2 .proposal__enroll a:hover::after {
  background: #b68c6e;
}

.proposal .proposal__wrapper .proposal__block_2 .proposal__enroll::before {
  content: "";
  position: absolute;
  display: block;
  width: 477px;
  height: 1px;
  left: 0;
  background: #b68c6e;
  top: 50%;
  -webkit-transform: translateX(calc(-100% - 40px)) translateY(-50%);
          transform: translateX(calc(-100% - 40px)) translateY(-50%);
}

@media (max-width: 1600px) {
  .proposal .proposal__wrapper .proposal__block_2 {
    padding: 0px 100px 0px 0px;
  }
}

@media (max-width: 1500px) {
  .proposal .proposal__wrapper .proposal__block_2 {
    padding: 0px 50px 0px 0px;
  }
}

@media (max-width: 1450px) {
  .proposal .proposal__wrapper .proposal__block_2 {
    padding: 0px 0px 0px 0px;
  }
}

@media (max-width: 1300px) {
  .proposal .proposal__wrapper .proposal__block_2 .proposal__enroll::before {
    width: 20vw;
  }
}

@media (max-width: 1100px) {
  .proposal .proposal__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .proposal .proposal__wrapper::before {
    display: none;
  }
  .proposal .proposal__wrapper .proposal__block_1 {
    max-width: none;
  }
  .proposal .proposal__wrapper .proposal__block_1 .proposal__title {
    text-align: center;
  }
  .proposal .proposal__wrapper .proposal__block_1 .proposal__info {
    margin: 40px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .proposal .proposal__wrapper .proposal__block_1 .proposal__info .proposal__description {
    text-align: center;
  }
  .proposal .proposal__wrapper .proposal__block_1 .proposal__info .proposal__tel {
    margin: 7px 0px 50px 0px;
  }
  .proposal .proposal__wrapper .proposal__block_2 {
    margin: 7px 0px 0px 0px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .proposal .proposal__wrapper .proposal__block_2 .proposal__enroll a::after {
    display: none;
  }
  .proposal .proposal__wrapper .proposal__block_2 .proposal__enroll::before {
    display: none;
  }
}

@media (max-width: 900px) {
  .proposal .proposal__wrapper .proposal__block_1 .proposal__title {
    font-size: 50px;
  }
}

@media (max-width: 700px) {
  .proposal .proposal__wrapper .proposal__block_1 .proposal__title {
    font-size: 40px;
  }
  .proposal .proposal__wrapper .proposal__block_1 .proposal__info .proposal__tel {
    font-size: 40px;
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 450px) {
  .proposal .proposal__wrapper .proposal__block_1 .proposal__title {
    font-size: 40px;
  }
  .proposal .proposal__wrapper .proposal__block_1 .proposal__info .proposal__tel {
    font-size: 30px;
  }
}

.stocks {
  position: relative;
}

.stocks::after {
  position: absolute;
  z-index: -1;
  top: 100vh;
  right: 580px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  content: "";
  width: 607px;
  height: 607px;
  background: url("../img/pages/doctors/doctors__dots.png");
}

@media (max-width: 1650px) {
  .stocks::after {
    right: 400px;
  }
}

@media (max-width: 1450px) {
  .stocks::after {
    right: 250px;
  }
}

@media (max-width: 1250px) {
  .stocks::after {
    right: 150px;
  }
}

@media (max-width: 1050px) {
  .stocks::after {
    content: unset;
  }
}

@media (max-height: 740px) {
  .stocks::after {
    top: 740px;
  }
}

.stocks::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  background: linear-gradient(182.31deg, #ae9181 3.47%, #b79b8d 20.53%, #bca092 34.59%, #cbb1a4 49.72%, #ceb6aa 61.98%, #d1baac 74.8%, #d3bcaf 99.62%), #f0e3da;
}

@media (max-height: 740px) {
  .stocks::before {
    height: 740px;
  }
}

.stocks .stocks__header .offer__title {
  text-transform: uppercase;
  word-wrap: break-word;
  position: relative;
}

.stocks .stocks__header .offer__title::after {
  z-index: -1;
  position: absolute;
  left: -120px;
  top: 330px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  content: "";
  width: 239px;
  height: 239px;
  background: url("../img/pages/doctors/doctors__circle.svg");
}

@media (max-width: 1050px) {
  .stocks .stocks__header .offer__title::after {
    content: none;
  }
}

.stocks__list {
  padding-top: 40px;
  padding-bottom: 130px;
}

.stocks__list .stocks__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 0px 50px 0px;
}

.stocks__list .stocks__item:last-child {
  margin: 0;
}

.stocks__list .stocks__item .stocks__img {
  width: calc(100% - 70px);
}

.stocks__list .stocks__item .stocks__text {
  font-family: 'Lora', serif;
  color: #ffffff;
  padding: 18px 150px 35px 38px;
  width: calc(100% - 120px);
  display: block;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-style: italic;
  font-weight: 400;
  font-size: 29px;
  line-height: 140%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.stocks__list .stocks__item .stocks__text::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  display: block;
  left: 0px;
  width: 100%;
  height: 385px;
  background: #b68c6e;
}

.stocks__list .stocks__item .stocks__text::before {
  content: "";
  display: block;
  background: url("../img/pages/stocks/arrow-stiks__text-before.svg");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 30px;
  height: 14px;
  margin: 12px 25px 0px 0px;
}

@media (max-width: 1200px) {
  .stocks__list .stocks__item .stocks__img {
    width: 100%;
  }
  .stocks__list .stocks__item .stocks__text {
    padding: 18px 100px 35px 38px;
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .stocks__list .stocks__item .stocks__img {
    width: 100%;
  }
  .stocks__list .stocks__item .stocks__text {
    padding: 18px 50px 35px 38px;
  }
}

@media (max-width: 700px) {
  .stocks__list {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .stocks__list .stocks__item {
    background: #b68c6e;
  }
  .stocks__list .stocks__item .stocks__img {
    width: 100%;
  }
  .stocks__list .stocks__item .stocks__text::before {
    display: none;
  }
  .stocks__list .stocks__item .stocks__text::after {
    display: none;
  }
}

@media (max-width: 500px) {
  .stocks__list .stocks__item {
    background: #b68c6e;
  }
  .stocks__list .stocks__item .stocks__img {
    width: 100%;
  }
  .stocks__list .stocks__item .stocks__text {
    padding: 18px 20px 18px 20px;
    font-size: 22px;
  }
  .stocks__list .stocks__item .stocks__text::before {
    display: none;
  }
  .stocks__list .stocks__item .stocks__text::after {
    display: none;
  }
}
/*# sourceMappingURL=stocks.css.map */