// base
@import "../components/base/reset";
@import "../components/base/fonts";
@import "../components/base/variables";
@import "../components/base/mixins";
@import "../components/base/stable";

// micro
@import "../components/micro/link-rounded";

// layout
@import "../components/layout/header";
@import "../components/layout/footer";

// blocks
@import "../components/blocks/breadcrumbs";
@import "../components/blocks/proposal";

.doctors {
  position: relative;
  &::after {
    position: absolute;
    top: 100vh;
    right: 580px;
    transform: translateY(-100%);
    content: "";
    width: 607px;
    height: 607px;
    background: url("../img/pages/doctors/doctors__dots.png");
    @media (max-width: 1650px) {
      right: 400px;
    }
    @media (max-width: 1450px) {
      right: 250px;
    }
    @media (max-width: 1250px) {
      right: 150px;
    }
    @media (max-width: 1050px) {
      content: unset;
    }
  }
  &::before {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        182.31deg,
        #ae9181 3.47%,
        #b79b8d 20.53%,
        #bca092 34.59%,
        #cbb1a4 49.72%,
        #ceb6aa 61.98%,
        #d1baac 74.8%,
        #d3bcaf 99.62%
      ),
      #f0e3da;
  }
  .doctors__header {
    .offer__title {
      text-transform: uppercase;
      word-wrap: break-word;
      position: relative;
      &::after {
        z-index: -1;
        position: absolute;
        left: -120px;
        top: 330px;
        transform: translateY(-100%);
        content: "";
        width: 239px;
        height: 239px;
        background: url("../img/pages/doctors/doctors__circle.svg");
        @media (max-width: 1050px) {
          content: none;
        }
      }
    }
  }
}
.doctors__list {
  padding-top: 107px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  .doctors__item {
    z-index: 1;
    position: relative;
    max-width: 460px;
    padding: 0px 0px 0px 60px;
    color: #1d1d1a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 0px 200px 0px;
    &::after {
      z-index: -1;
      position: absolute;
      content: "";
      top: -67px;
      left: 0px;
      background: #eacfbc;
      width: 370px;
      height: 370px;
    }
    .doctors__block {
      position: relative;
      max-width: fit-content;

      .doctors__item-img {
        width: 395px;
        height: 468px;
      }
      .doctors__item-title {
        margin: 42px 0px 0px 0px;
        @include fontTitle1;
        font-weight: 400;
        font-size: 36px;
        line-height: 123.2%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        max-width: fit-content;
      }
      .doctors__item-text {
        margin: 15px 0px 15px 0px;
        font-weight: 400;
        font-size: 14px;
        line-height: 180%;
        padding: 0px 0px 40px 0px;
      }
    }
  }
}

@media (max-width: 1420px) {
  .doctors__list {
    .doctors__item {
      padding: 0px 0px 0px 30px;
      &::after {
        top: -35px;
      }
      .doctors__block {
        .doctors__item-img {
        }
        .doctors__item-title {
        }
        .doctors__item-text {
        }
      }
    }
  }
}

@media (max-width: 1330px) {
  .doctors__list {
    .doctors__item {
      padding: 0px 0px 0px 30px;
      &::after {
        top: -35px;
      }
      .doctors__block {
        .doctors__item-img {
          width: 350px;
          height: 414px;
        }
        .doctors__item-title {
          margin: 20px 0px 0px 0px;
          font-size: 30px;
        }
        .doctors__item-text {
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .doctors__list {
    .doctors__item {
      margin: 0px 0px 150px 0px;
      &::after {
        width: calc(100% - 40px);
        height: 360px;
      }
      .doctors__block {
        .doctors__item-img {
          width: 300px;
          height: 355px;
        }
        .doctors__item-title {
        }
        .doctors__item-text {
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .doctors__list {
    .doctors__item {
      &::after {
      }
      .doctors__block {
        .doctors__item-img {
        }
        .doctors__item-title {
          font-size: 26px;
        }
        .doctors__item-text {
        }
      }
    }
  }
}

@media (max-width: 1040px) {
  .doctors__list {
    .doctors__item {
      &::after {
      }
      .doctors__block {
        .doctors__item-img {
        }
        .doctors__item-title {
          font-size: 26px;
        }
        .doctors__item-text {
        }
      }
      .doctors__link.link-rounded {
        font-size: 20px;
        padding: 0px 0px 0px 65px;
        &::after {
          background-size: contain;
          background-repeat: no-repeat;
          width: 140px;
          height: 130px;
          
        }
      }
    }
  }
}

@media (max-width: 1015px) {
  .doctors__list {
    .doctors__item {
      &::after {
      }
      .doctors__block {
        .doctors__item-img {
        }
        .doctors__item-title {
          font-size: 26px;
        }
        .doctors__item-text {
        }
      }
      .doctors__link.link-rounded {
        font-size: 20px;
        padding: 0px 0px 0px 65px;
        &::after {
          background-size: contain;
          background-repeat: no-repeat;
          width: 140px;
          height: 130px;
          
        }
      }
    }
  }
}

@media (max-width: 690px) {
  .doctors__list {
    justify-content: center;
    .doctors__item {
      max-width: 100%;
      padding: 0px 0px 0px 0px;
      &::after {
        left: -20px;
      }
      .doctors__block {
        .doctors__item-img {
        }
        .doctors__item-title {
          font-size: 26px;
        }
        .doctors__item-text {
        }
      }
      .doctors__link.link-rounded {
        font-size: 20px;
        padding: 0px 0px 0px 65px;
        &::after {
          background-size: contain;
          background-repeat: no-repeat;
          width: 140px;
          height: 130px;
          
        }
      }
    }
  }
}