// base
@import "../components/base/reset";
@import "../components/base/fonts";
@import "../components/base/variables";
@import "../components/base/mixins";
@import "../components/base/stable";

// layout
@import "../components/layout/header";
@import "../components/layout/footer";

// micro
@import "../components/micro/link-rounded";

// blocks
@import "../components/blocks/breadcrumbs";
@import "../components/blocks/example";
@import "../components/blocks/specialists";
@import "../components/blocks/certificates";
@import "../components/blocks/proposal";
@import "../components/blocks/direrctions";

/*   для работы  position: sticky;   */
.wrapper{
  overflow: unset;
}


.offer {
  background: linear-gradient(
      182.31deg,
      #ae9181 3.47%,
      #b79b8d 20.53%,
      #bca092 34.59%,
      #cbb1a4 49.72%,
      #ceb6aa 61.98%,
      #d1baac 74.8%,
      #d3bcaf 99.62%
    ),
    #f0e3da;
  height: fit-content;

  .doctor-info {
    padding-top: 60px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: row;
    .doctor-info__block {
    }
    .doctor-info__block_1 {
      margin: 0px 130px 0px 0px;
      .doctor-info__title {
        text-transform: uppercase;
      }

      .doctor-info__list {
        margin: 10px 0px 10px 0px;
        .doctor-info__item {
          font-weight: 600;
          font-size: 14px;
          line-height: 180%;
          color: #1d1d1a;
          position: relative;
          padding: 0px 0px 0px 35px;
          margin: 0px 0px 6px 0px;
          &::before {
            content: "";
            display: block;
            position: absolute;
            width: 20px;
            height: 2px;
            top: 2px;
            left: 0px;
            background: #b68c6e;
            margin: 8px 0px 0px 0px;
          }

          &:last-child {
            margin: 0px 0px 0px 0px;
          }
        }
      }

      .doctor-info__link {
        margin: 52px 0px 52px 0px;
        color: #ffffff;
      }
    }

    .doctor-info__block_2 {
      position: relative;
      height: 619px;
      z-index: 1;
      img {
        height: 100%;
      }

      &::before {
        z-index: -1;
        content: "";
        position: absolute;
        width: 100%;
        height: 462px;
        background: #b68c6e;
        bottom: -70px;
        right: -70px;
      }

      &::after {
        content: "";
        position: absolute;
        border-radius: 50%;
        top: -60px;
        left: -120px;
        width: 239px;
        height: 239px;
        border: 1px solid #b68c6e;
      }
    }
  }
}
@media (max-width: 1150px) {
  .offer {
    .doctor-info {
      .doctor-info__block {
      }
      .doctor-info__block_1 {
        margin: 0px 50px 0px 0px;
        .doctor-info__title {
        }

        .doctor-info__list {
          .doctor-info__item {
            &::before {
            }

            &:last-child {
            }
          }
        }

        .doctor-info__link {
        }
      }

      .doctor-info__block_2 {
        img {
        }

        &::before {
        }

        &::after {
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  .offer {
    .doctor-info {
      .doctor-info__block {
      }
      .doctor-info__block_1 {
        margin: 0px 50px 0px 0px;
        .doctor-info__title {
        }

        .doctor-info__list {
          .doctor-info__item {
            &::before {
            }

            &:last-child {
            }
          }
        }

        .doctor-info__link {
        }
      }

      .doctor-info__block_2 {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        img {
          height: 85%;
        }

        &::before {
        }

        &::after {
          top: -30px;
        }
      }
    }
  }
}
@media (max-width: 950px) {
  .offer {
    .doctor-info {
      padding-top: 30px;
      padding-bottom: 30px;
      flex-direction: column-reverse;
      .doctor-info__block {
      }
      .doctor-info__block_1 {
        margin: 0px 50px 0px 0px;
        .doctor-info__title {
        }

        .doctor-info__list {
          .doctor-info__item {
            &::before {
            }

            &:last-child {
            }
          }
        }

        .doctor-info__link {
        }
      }

      .doctor-info__block_2 {
        height: fit-content;
        margin: 0px 0px 40px 0px;
        img {
          height: unset;
        }

        &::before {
          width: 400px;
          left: 34px;
          right: unset;
          bottom: -40px;
        }

        &::after {
          top: -30px;
        }
      }
    }
  }
}
@media (max-width: 550px) {
  .offer {
    .doctor-info {
      .doctor-info__block {
      }
      .doctor-info__block_1 {
        .doctor-info__title {
        }

        .doctor-info__list {
          .doctor-info__item {
            &::before {
            }

            &:last-child {
            }
          }
        }

        .doctor-info__link {
          margin: 28px 0px 28px 0px;
        }
      }

      .doctor-info__block_2 {
        margin: 0px 0px 30px 0px;
        width: 100%;
        img {
          width: 100%;
        }

        &::before {
          height: 100%;
          width: 100%;
          bottom: -20px;
          left: -20px;
        }

        &::after {
          content: unset;
          top: -30px;
        }
      }
    }
  }
}

/*   profile   */
.profile {
  background: #f0e3da;
  .profile__wrapper {
    position: relative;
    padding-top: 120px;
    padding-bottom: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .profile__text {
      padding-top: 10px;
      .profile__block {
        width: 785px;
        margin: 0px 0px 80px 0px;
        &:last-child {
          margin: 0px 0px 0px 0px;
        }
        .profile__title {
          margin: 0px 0px 40px 0px;
          @include fontTitle1;
          font-weight: 400;
          font-size: 40px;
          line-height: 110%;
          letter-spacing: 4.95979px;
          text-transform: uppercase;
          color: #312c38;
          &.profile__title_main {
            font-size: 60px;
          }
        }
        table {
          tr {
            display: inline-table;
            margin: 0px 0px 40px 0px;
            td {
              &:first-child {
                min-width: calc(191px + 52px);
                display: block;
                @include fontQuote;
                font-style: italic;
                width: max-content;
                overflow-wrap: normal;
                font-weight: 400;
                font-size: 30px;
                line-height: 138.2%;
                color: #1d1d1a;
              }
              &:last-child {
                font-weight: 400;
                font-size: 18px;
                line-height: 180%;
                color: #1d1d1a;
              }
            }
            &:last-child {
              margin: 0px 0px 0px 0px;
            }
          }
        }
        ul {
          li {
            @include fontQuote;
            margin: 0px 0px 13px 0px;
            font-style: italic;
            font-weight: 500;
            font-size: 20px;
            line-height: 154%;
            color: #1d1d1a;
            display: flex;

            &::before {
              content: "";
              top: 16px;
              display: block;
              position: relative;
              background: #1d1d1a;
              min-width: 30px;
              height: 2px;
              margin: 0px 19px 0px 0px;
            }
          }
        }
      }
    }
    .profile__img-block {
      margin: 0px 70px 0px 0px;
      z-index: 1;
      width: 513px;
      height: 629px;
      position: sticky;
      top: 72px;
      &::before {
        z-index: -1;
        position: absolute;
        display: block;
        content: "";
        width: 100%;
        height: 462px;
        right: -70px;
        bottom: -70px;
        background: #b68c6e;
      }
      &::after {
        content: "";
        position: absolute;
        width: 239px;
        height: 239px;
        border: 1px solid #b68c6e;
        display: block;
        border-radius: 50%;
        left: -120px;
        top: -70px;
      }
      .profile__img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
@media (max-width: 1405px) {
  .profile {
    .profile__wrapper {
      .profile__text {
        .profile__block {
          &:last-child {
          }
          .profile__title {
            &.profile__title_main {
            }
          }
          table {
            tr {
              td {
                &:first-child {
                }
                &:last-child {
                }
              }
              &:last-child {
              }
            }
          }
          ul {
            li {
              &::before {
              }
            }
          }
        }
      }
      .profile__img-block {
        top: 30px;
        margin: 0px 20px 0px 0px;
        &::before {
          right: -20px;
          bottom: -20px;
        }
        &::after {
          content: unset;
        }
        .profile__img {
        }
      }
    }
  }
}

@media (max-width: 1350px) {
  .profile {
    .profile__wrapper {
      .profile__text {
        .profile__block {
          &:last-child {
          }
          .profile__title {
            &.profile__title_main {
            }
          }
          table {
            tr {
              td {
                &:first-child {
                }
                &:last-child {
                }
              }
              &:last-child {
              }
            }
          }
          ul {
            li {
              &::before {
              }
            }
          }
        }
      }
      .profile__img-block {
        top: 30px;
        margin: 0px 20px 0px 0px;
        width: 400px;
        height: 490px;
        &::before {
          right: -20px;
          bottom: -20px;
        }
        &::after {
          content: unset;
        }
        .profile__img {
        }
      }
    }
  }
}

@media (max-width: 1250px) {
  .profile {
    .profile__wrapper {
      flex-direction: column-reverse;
      .profile__text {
        .profile__block {
          width: auto;
          &:last-child {
          }
          .profile__title {
            &.profile__title_main {
            }
          }
          table {
            tr {
              td {
                &:first-child {
                }
                &:last-child {
                }
              }
              &:last-child {
              }
            }
          }
          ul {
            li {
              &::before {
              }
            }
          }
        }
      }
      .profile__img-block {
        position: relative;
        top: unset;
        align-self: center;
        margin: 0px 0px 60px 0px;
        &::before {
        }
        &::after {
          content: unset;
        }
        .profile__img {
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .profile {
    .profile__wrapper {
      padding-top: 60px;
      padding-bottom: 65px;
      flex-direction: column-reverse;
      .profile__text {
        .profile__block {
          width: auto;
          &:last-child {
          }
          .profile__title {
            font-size: 30px;
            margin: 0px 0px 20px 0px;
            &.profile__title_main {
              font-size: 35px;
            }
          }
          table {
            tr {
              display: flex;
              flex-direction: column;
              td {
                display: block;
                &:first-child {
                }
                &:last-child {
                }
              }
              &:last-child {
              }
            }
          }
          ul {
            li {
              &::before {
              }
            }
          }
        }
      }
      .profile__img-block {
        position: relative;
        top: unset;
        align-self: center;
        margin: 0px 0px 60px 0px;
        &::before {
        }
        &::after {
          content: unset;
        }
        .profile__img {
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .profile {
    .profile__wrapper {
      .profile__text {
        .profile__block {
          margin: 0px 0px 40px 0px;
          &:last-child {
          }
          .profile__title {
            font-size: 25px;

            &.profile__title_main {
              font-size: 30px;
            }
          }
          table {
            tr {
              td {
                &:first-child {
                }
                &:last-child {
                }
              }
              &:last-child {
              }
            }
          }
          ul {
            li {
              &::before {
                min-width: 15px;
              }
            }
          }
        }
      }
      .profile__img-block {
        width: unset;
        height: unset;
        margin: 0px 0px 20px 0px;
        &::before {
          content: unset;
        }
        &::after {
        }
        .profile__img {
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .profile {
    .profile__wrapper {
      .profile__text {
        .profile__block {
          margin: 0px 0px 40px 0px;
          &:last-child {
          }
          .profile__title {
            font-size: 20px;

            &.profile__title_main {
              font-size: 27px;
            }
          }
          table {
            tr {
              td {
                &:first-child {
                  font-size: 20px;
                }
                &:last-child {
                }
              }
              &:last-child {
              }
            }
          }
          ul {
            li {
              &::before {
              }
            }
          }
        }
      }
      .profile__img-block {
        &::before {
        }
        &::after {
        }
        .profile__img {
        }
      }
    }
  }
}

/*   examples__wrapper   */
.examples__wrapper {
  padding: 0px 0px 130px 0px;
  .example {
    padding-bottom: 0px;
  }
}
@media (max-width: 800px) {
  .examples__wrapper {
    padding: 0px 0px 50px 0px;
    .example {
      padding-bottom: 0px;
    }
  }
}
@media (max-width: 500px) {
  .examples__wrapper {
    padding: 0px 0px 30px 0px;
    .example {
      padding-bottom: 0px;
    }
  }
}
