// base
@import "../components/base/reset";
@import "../components/base/fonts";
@import "../components/base/variables";
@import "../components/base/mixins";
@import "../components/base/stable";

// layout
@import "../components/layout/header";
@import "../components/layout/footer";

// micro
@import "../components/micro/link-rounded";

// blocks
@import "../components/blocks/services";
@import "../components/blocks/clinic";
@import "../components/blocks/specialists";
@import "../components/blocks/certificates";
@import "../components/blocks/clients";

.offer {
  background: linear-gradient(
      182.31deg,
      #ae9181 3.47%,
      #b79b8d 20.53%,
      #bca092 34.59%,
      #cbb1a4 49.72%,
      #ceb6aa 61.98%,
      #d1baac 74.8%,
      #d3bcaf 99.62%
    ),
    #f0e3da;
  height: 100vh;
  max-height: 826.65px;
  min-height: 826.65px;

  .slider__wrapper {
    .offer__list {
      position: relative;
      margin-left: -50px;
      .offer__item {
        margin: 0px 0px 0px 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        cursor: grab;
        .offer__item-block {
          max-height: 622.14px;
        }
        .offer__item-block_1 {
          padding: 70px 0px 20px 0px;
          max-width: 652px;
          .offer__title {
            text-transform: uppercase;
          }
          .offer__description {
            margin: 45px 0px 70px 0px;
            font-weight: 400;
            font-size: 23px;
            line-height: 164.9%;
            color: #ffffff;
          }
          .offer__link {
            font-weight: 600;
            font-size: 25px;
            line-height: 30px;
            letter-spacing: 0.05em;
            text-transform: uppercase;

            /* 3 */

            color: #ffffff;
          }
        }

        .offer__item-block_2 {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            left: -90px;
            top: 0;
            z-index: -1;
            background: url("../img/pages/home/offer__before-dots.svg");
            width: 608.2px;
            height: 608.2px;
          }

          .offer__img {
            height: 100%;
          }
          .offer__img-description {
            position: absolute;
            top: 160px;
            left: 450px;
          }
          .offer__counter {
            display: flex;
            flex-direction: row;
            align-items: center;
            @include fontTitle2;
            margin: 0px 0px 30px 100px;

            .offer__current {
              font-weight: 500;
              font-size: 80px;
              line-height: 131px;
              color: #ffffff;
            }
            .offer__all {
              margin: 10px 0px 0px 14px;
              font-weight: 400;
              font-size: 30px;
              line-height: 126.56%;
              color: #000000;
            }
          }
        }
      }
      ul.slick-dots {
        margin: 0px 0px 0px 30px;
        position: absolute;
        bottom: 52px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: row;
        li {
          margin: 0px 30px 0px 0px;
          &:last-child {
            margin: 0px 0px 0px 0px;
          }

          &.slick-active {
            button {
              background: #b68c6e;
            }
          }
          button {
            position: relative;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            font-size: 0px;
            border: none;
            background: #ffffff;
            cursor: pointer;
            transition: all 0.3s ease 0s;
            &:hover {
              background: #ccaf9a;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .offer {
    min-height: 750px;
    max-height: 750px;
    .slider__wrapper {
      .offer__list {
        .offer__item {
          margin: 14px 0px 0px 50px;
          .offer__item-block {
          }
          .offer__item-block_1 {
            .offer__title {
            }
            .offer__description {
            }
            .offer__link {
            }
          }

          .offer__item-block_2 {
            .offer__img {
            }
            .offer__counter {
              .offer__current {
              }
              .offer__all {
              }
            }
          }
        }
        ul.slick-dots {
          li {
            &:last-child {
            }

            &.slick-active {
              button {
              }
            }
            button {
              &:hover {
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1350px) {
  .offer {
    .slider__wrapper {
      .offer__list {
        .offer__item {
          .offer__item-block {
          }
          .offer__item-block_1 {
            padding: 0px 0px 0px 0px;
            .offer__title {
            }
            .offer__description {
            }
            .offer__link {
            }
          }

          .offer__item-block_2 {
            .offer__img {
            }
            .offer__counter {
              .offer__current {
              }
              .offer__all {
              }
            }
          }
        }
        ul.slick-dots {
          li {
            &:last-child {
            }

            &.slick-active {
              button {
              }
            }
            button {
              &:hover {
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .offer {
    height: fit-content;
    max-height: none;
    .slider__wrapper {
      .offer__list {
        .offer__item {
          flex-direction: column;
          .offer__item-block {
          }
          .offer__item-block_1 {
            .offer__title {
            }
            .offer__description {
            }
            .offer__link {
            }
          }

          .offer__item-block_2 {
            width: 100%;
            justify-content: center;
            .offer__img {
            }
            .offer__img-description {
              left: unset;
              right: 160px;
            }
            .offer__counter {
              position: absolute;
              margin: 0px 0px 0px 0px;
              right: 35px;
              .offer__current {
              }
              .offer__all {
              }
            }
          }
        }
        ul.slick-dots {
          li {
            &:last-child {
            }

            &.slick-active {
              button {
              }
            }
            button {
              &:hover {
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1150px) {
  .offer {
    .slider__wrapper {
      .offer__list {
        .offer__item {
          .offer__item-block {
          }
          .offer__item-block_1 {
            .offer__title {
            }
            .offer__description {
            }
            .offer__link {
            }
          }

          .offer__item-block_2 {
            .offer__img {
            }
            .offer__img-description {
              right: 100px;
            }
            .offer__counter {
              .offer__current {
              }
              .offer__all {
              }
            }
          }
        }
        ul.slick-dots {
          li {
            &:last-child {
            }

            &.slick-active {
              button {
              }
            }
            button {
              &:hover {
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 975px) {
  .offer {
    .slider__wrapper {
      .offer__list {
        .offer__item {
          .offer__item-block {
          }
          .offer__item-block_1 {
            .offer__title {
            }
            .offer__description {
            }
            .offer__link {
            }
          }

          .offer__item-block_2 {
            .offer__img {
            }
            .offer__img-description {
              right: 20px;
            }
            .offer__counter {
              .offer__current {
              }
              .offer__all {
              }
            }
          }
        }
        ul.slick-dots {
          li {
            &:last-child {
            }

            &.slick-active {
              button {
              }
            }
            button {
              &:hover {
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .offer {
    .slider__wrapper {
      .offer__list {
        .offer__item {
          .offer__item-block {
          }
          .offer__item-block_1 {
            padding: 0px 0px 50px 0px;
            .offer__title {
            }
            .offer__description {
            }
            .offer__link {
            }
          }

          .offer__item-block_2 {
            padding: 50px 0px 0px 0px;
            max-height: unset;
            .offer__img {
              height: 100%;
              max-width: 100%;
            }
            .offer__img-description {
              right: 50%;
              top: 0;
              z-index: -1;
              transform: translateX(50%);
            }
            .offer__counter {
              top: 0;
              right: 0;
              .offer__current {
              }
              .offer__all {
              }
            }
          }
        }
        ul.slick-dots {
          li {
            &:last-child {
            }

            &.slick-active {
              button {
              }
            }
            button {
              &:hover {
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .offer {
    .slider__wrapper {
      .offer__list {
        .offer__item {
          .offer__item-block {
          }
          .offer__item-block_1 {
            padding: 0px 0px 20px 0px;
            .offer__title {
            }
            .offer__description {
              margin: 13px 0px 43px 0px;
              font-weight: 400;
              font-size: 16px;
              line-height: 164.9%;
            }
            .offer__link {
              font-weight: 600;
              font-size: 14px;
              line-height: 17px;
            }
          }

          .offer__item-block_2 {
            &::before {
              content: unset;
            }
            .offer__img {
            }
            .offer__img-description {
            }
            .offer__counter {
              top: -30px;
              .offer__current {
                font-size: 37.8827px;
                line-height: 62px;
              }
              .offer__all {
                font-size: 14.206px;
                line-height: 126.56%;
              }
            }
          }
        }
        ul.slick-dots {
          bottom: 30px;
          li {
            &:last-child {
            }

            &.slick-active {
              button {
              }
            }
            button {
              &:hover {
              }
            }
          }
        }
      }
    }
  }
}

