// base
@import "../components/base/reset";
@import "../components/base/fonts";
@import "../components/base/variables";
@import "../components/base/mixins";
@import "../components/base/stable";

// layout
@import "../components/layout/header";
@import "../components/layout/footer";

// micro
@import "../components/micro/link-rounded";

// blocks
@import "../components/blocks/breadcrumbs";
@import "../components/blocks/advantage";
@import "../components/blocks/pluses";
@import "../components/blocks/procedure";
@import "../components/blocks/example";
@import "../components/blocks/count";
@import "../components/blocks/prepare";
@import "../components/blocks/individual-card";
@import "../components/blocks/specialists";
@import "../components/blocks/proposal";
@import "../components/blocks/direrctions";

/*   offer   */
.offer {
  background: linear-gradient(
      182.31deg,
      #ae9181 3.47%,
      #b79b8d 20.53%,
      #bca092 34.59%,
      #cbb1a4 49.72%,
      #ceb6aa 61.98%,
      #d1baac 74.8%,
      #d3bcaf 99.62%
    ),
    #f0e3da;
  .offer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .offer__block {
  }
  .offer__block_1 {
    padding: 0px 0px 100px 0px;
    max-width: 727px;
    .breadcrumbs {
    }
    .offer__title {
      margin: 50px 0px 100px 0px;
      text-transform: uppercase;
    }
    .link-rounded {
      color: #fff;
    }
  }

  .offer__block_2 {
    position: relative;
    .offer__img_main {
      height: 100%;
      margin: 0px 0px 0px -75px;
    }
    .offer__img_sec {
      top: 160px;
      right: -150px;
      position: absolute;
    }
  }
}
@media (max-width: 1500px) {
  .offer {
    .offer__wrapper {
    }
    .offer__block {
    }
    .offer__block_1 {
      .breadcrumbs {
      }
      .offer__title {
      }
      .link-rounded {
      }
    }

    .offer__block_2 {
      width: 100%;
      .offer__img_main {
        margin: 0px 0px 0px -135px;
      }
      .offer__img_sec {
        right: 0px;
      }
    }
  }
}
@media (max-width: 1370px) {
  .offer {
    .offer__wrapper {
      flex-direction: column;
    }
    .offer__block {
    }
    .offer__block_1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: none;
      .breadcrumbs {
        width: 100%;
      }
      .offer__title {
      }
      .link-rounded {
        align-self: center;
      }
    }

    .offer__block_2 {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      .offer__img_main {
      }
      .offer__img_sec {
        right: 590px;
      }
    }
  }
}
@media (max-width: 850px) {
  .offer {
    .offer__wrapper {
    }
    .offer__block {
    }
    .offer__block_1 {
      .breadcrumbs {
      }
      .offer__title {
      }
      .link-rounded {
      }
    }

    .offer__block_2 {
      .offer__img_main {
      }
      .offer__img_sec {
        right: unset;
        left: 0px;
      }
    }
  }
}
@media (max-width: 750px) {
  .offer {
    .offer__wrapper {
    }
    .offer__block {
    }
    .offer__block_1 {
      .breadcrumbs {
      }
      .offer__title {
        font-size: 55px;
      }
      .link-rounded {
      }
    }

    .offer__block_2 {
      .offer__img_main {
        width: 100%;
      }
      .offer__img_sec {
        top: 0;
        width: 150px;
        height: 150px;
      }
    }
  }
}
@media (max-width: 650px) {
  .offer {
    .offer__wrapper {
    }
    .offer__block {
    }
    .offer__block_1 {
      padding: 0px 0px 50px 0px;

      .breadcrumbs {
      }
      .offer__title {
        margin: 25px 0px 50px 0px;
        font-size: 45px;
      }
      .link-rounded {
      }
    }

    .offer__block_2 {
      .offer__img_main {
      }
      .offer__img_sec {
        display: none;
      }
    }
  }
}
@media (max-width: 550px) {
  .offer {
    .offer__wrapper {
    }
    .offer__block {
    }
    .offer__block_1 {
      .breadcrumbs {
      }
      .offer__title {
        font-size: 35px;
      }
      .link-rounded {
      }
    }

    .offer__block_2 {
      .offer__img_main {
      }
      .offer__img_sec {
      }
    }
  }
}
@media (max-width: 400px) {
  .offer {
    .offer__wrapper {
    }
    .offer__block {
    }
    .offer__block_1 {
      .breadcrumbs {
      }
      .offer__title {
        margin: 25px 0px 50px 0px;
        font-size: 27px;
      }
      .link-rounded {
      }
    }

    .offer__block_2 {
      .offer__img_main {
      }
      .offer__img_sec {
      }
    }
  }
}

/*   directions   */
.directions {
  background: #f0e3da;
}

/*   examples   */
.examples__wrapper {
  position: relative;
  z-index: 1;
  &::before {
    z-index: -1;
    content: "";
    width: 100%;
    height: 62%;
    position: absolute;
    top: 0px;
    left: 0px;

    background: #f0e3da;
  }
  .example {
    .example__text-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      .example__title {
        position: relative;
        max-width: 924px;
        text-transform: none;
        font-size: 85px;
        line-height: 90%;
        letter-spacing: unset;
        &::before {
          left: -100px;
          bottom: -219px;
          content: "";
          border-radius: 50%;
          position: absolute;
          display: block;
          width: 277px;
          height: 277px;
          border: 1px solid #b68c6e;
        }
      }
    }
    .slider__wrapper {
      .slider__navigation {
        .slider-button-prev,
        .slider-button-next {
          img {
          }
        }
        .slider-button-prev {
        }
        .slider-button-next {
          img {
          }
        }
      }

      .example__list {
        .example__item {
          img {
          }

          &.slick-current {
            img {
            }
          }

          &.prev-slide {
            img {
            }
          }

          &.next-slide {
            img {
            }
          }
        }
      }
    }
  }
}
@media (max-width: 800px) {
  .examples__wrapper {
    &::before {
      height: calc(62% + 50px);
    }
    .example {
      .example__text-block {
        .example__title {
          font-size: 70px;
        }
      }
      .slider__wrapper {
        .slider__navigation {
          .slider-button-prev,
          .slider-button-next {
            img {
            }
          }
          .slider-button-prev {
          }
          .slider-button-next {
            img {
            }
          }
        }

        .example__list {
          .example__item {
            img {
            }

            &.slick-current {
              img {
              }
            }

            &.prev-slide {
              img {
              }
            }

            &.next-slide {
              img {
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .examples__wrapper {
    &::before {
      height: calc(62% + 25px);
    }
    .example {
      .example__text-block {
        .example__title {
          font-size: 45px;
          &::before{
          content: unset;
          }
        }
      }
      .slider__wrapper {
        .slider__navigation {
          .slider-button-prev,
          .slider-button-next {
            img {
            }
          }
          .slider-button-prev {
          }
          .slider-button-next {
            img {
            }
          }
        }

        .example__list {
          .example__item {
            img {
            }

            &.slick-current {
              img {
              }
            }

            &.prev-slide {
              img {
              }
            }

            &.next-slide {
              img {
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 400px) {
  .examples__wrapper {
    &::before {
      height: calc(75% + 0px);
    }
    .example {
      .example__text-block {
        .example__title {
          font-size: 35px;
        }
      }
      .slider__wrapper {
        .slider__navigation {
          .slider-button-prev,
          .slider-button-next {
            img {
            }
          }
          .slider-button-prev {
          }
          .slider-button-next {
            img {
            }
          }
        }

        .example__list {
          .example__item {
            img {
            }

            &.slick-current {
              img {
              }
            }

            &.prev-slide {
              img {
              }
            }

            &.next-slide {
              img {
              }
            }
          }
        }
      }
    }
  }
}
