// base
@import "../components/base/reset";
@import "../components/base/fonts";
@import "../components/base/variables";
@import "../components/base/mixins";
@import "../components/base/stable";

// layout
@import "../components/layout/header";
@import "../components/layout/footer";

// micro
@import "../components/micro/link-rounded";

// blocks
@import "../components/blocks/breadcrumbs";
@import "../components/blocks/advantage";
@import "../components/blocks/pluses";
@import "../components/blocks/procedure";
@import "../components/blocks/example";
@import "../components/blocks/individual-card";
@import "../components/blocks/specialists";
@import "../components/blocks/proposal";
@import "../components/blocks/direrctions";

.offer {
  background: linear-gradient(
      182.31deg,
      #ae9181 3.47%,
      #b79b8d 20.53%,
      #bca092 34.59%,
      #cbb1a4 49.72%,
      #ceb6aa 61.98%,
      #d1baac 74.8%,
      #d3bcaf 99.62%
    ),
    #f0e3da;
  .offer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .offer__block {
  }
  .offer__block_1 {
    padding: 0px 0px 100px 0px;
    max-width: 727px;
    .breadcrumbs {
    }
    .offer__title {
      margin: 50px 0px 100px 0px;
      text-transform: uppercase;
    }
    .link-rounded {
      color: #fff;
    }
  }

  .offer__block_2 {
    position: relative;
    .offer__img_main {
      height: 100%;
      margin: 0px 0px 0px -75px;
    }
    .offer__img_sec {
      top: 160px;
      right: -150px;
      position: absolute;
    }
  }
}

@media (max-width: 1500px) {
  .offer {
    .offer__wrapper {
    }
    .offer__block {
    }
    .offer__block_1 {
      .breadcrumbs {
      }
      .offer__title {
      }
      .link-rounded {
      }
    }

    .offer__block_2 {
      width: 100%;
      .offer__img_main {
        margin: 0px 0px 0px -135px;
      }
      .offer__img_sec {
        right: 0px;
      }
    }
  }
}

@media (max-width: 1370px) {
  .offer {
    .offer__wrapper {
      flex-direction: column;
    }
    .offer__block {
    }
    .offer__block_1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: none;
      .breadcrumbs {
        width: 100%;
      }
      .offer__title {
      }
      .link-rounded {
        align-self: center;
      }
    }

    .offer__block_2 {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      .offer__img_main {
      }
      .offer__img_sec {
        right: 590px;
      }
    }
  }
}
@media (max-width: 850px) {
  .offer {
    .offer__wrapper {
    }
    .offer__block {
    }
    .offer__block_1 {
      .breadcrumbs {
      }
      .offer__title {
      }
      .link-rounded {
      }
    }

    .offer__block_2 {
      .offer__img_main {
      }
      .offer__img_sec {
        right: unset;
        left: 0px;
      }
    }
  }
}
@media (max-width: 750px) {
  .offer {
    .offer__wrapper {
    }
    .offer__block {
    }
    .offer__block_1 {
      .breadcrumbs {
      }
      .offer__title {
        font-size: 55px;
      }
      .link-rounded {
      }
    }

    .offer__block_2 {
      .offer__img_main {
        width: 100%;
      }
      .offer__img_sec {
        top: 0;
        width: 150px;
        height: 150px;
      }
    }
  }
}
@media (max-width: 650px) {
  .offer {
    .offer__wrapper {
    }
    .offer__block {
    }
    .offer__block_1 {
      padding: 0px 0px 50px 0px;

      .breadcrumbs {
      }
      .offer__title {
        margin: 25px 0px 50px 0px;
        font-size: 45px;
      }
      .link-rounded {
      }
    }

    .offer__block_2 {
      .offer__img_main {
      }
      .offer__img_sec {
        display: none;
      }
    }
  }
}
@media (max-width: 550px) {
  .offer {
    .offer__wrapper {
    }
    .offer__block {
    }
    .offer__block_1 {
      .breadcrumbs {
      }
      .offer__title {
        font-size: 35px;
      }
      .link-rounded {
      }
    }

    .offer__block_2 {
      .offer__img_main {
      }
      .offer__img_sec {
      }
    }
  }
}
@media (max-width: 400px) {
  .offer {
    .offer__wrapper {
    }
    .offer__block {
    }
    .offer__block_1 {
      .breadcrumbs {
      }
      .offer__title {
        margin: 25px 0px 50px 0px;
        font-size: 27px;
      }
      .link-rounded {
      }
    }

    .offer__block_2 {
      .offer__img_main {
      }
      .offer__img_sec {
      }
    }
  }
}

.directions {
  background: #f0e3da;
}

.prepare {
  padding-top: 147px;
  padding-bottom: 134px;
  background: #f0e3da;
  overflow: hidden;

  .prepare__wrapper {
    .prepare__block {
    }

    .prepare__block_1 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .prepare__text-block {
        .prepare__title {
          max-width: 782px;
          font-size: 67.6491px;
          line-height: 105%;
          letter-spacing: 3.78835px;
          text-transform: uppercase;
          color: #312c38;
        }
        .prepare__text {
          max-width: 782px;
          font-weight: 400;
          font-size: 18px;
          line-height: 180%;
          z-index: 1;
          color: #1d1d1a;
          margin: 40px 0px 40px 0px;
        }
        .prepare__list-block {
          font-weight: 400;
          font-size: 26px;
          line-height: 154%;
          color: #1d1d1a;
          @include fontQuote;
          font-style: italic;
          .prepare__list-title {
            margin: 0px 0px 21px 0px;
          }
          .prepare__list {
            max-width: 830px;
            li {
              color: #b68c6e;
              padding: 0px 0px 0px 60px;
              position: relative;
              margin: 0px 0px 14px 0px;
              &::before {
                content: "";
                position: absolute;
                width: 30px;
                height: 2px;
                background: #b68c6e;
                top: 20px;
                left: 0px;
              }
              &:last-child {
                margin: 0px 0px 0px 0px;
              }
            }
          }
        }
      }

      .prepare__img-block {
        z-index: 1;
        position: relative;
        &::before {
          z-index: -1;
          content: "";
          display: block;
          position: absolute;
          top: 224px;
          right: -70px;
          background: #b68c6e;
          width: 516.96px;
          height: 475.5px;
        }

        .prepare__img-secondary {
          width: 345px;
          height: 345px;
          transform: translateX(-100%);
          left: 150px;
          position: absolute;
          top: 480px;
        }
        .prepare__img-main {
        }
      }
    }
  }
}
@media (max-width: 1600px) {
  .prepare {
    .prepare__wrapper {
      .prepare__block {
      }

      .prepare__block_1 {
        .prepare__text-block {
          max-width: 50%;
          .prepare__title {
          }
          .prepare__text {
          }
          .prepare__list-block {
            .prepare__list-title {
            }
            .prepare__list {
              li {
                &::before {
                }
                &:last-child {
                }
              }
            }
          }
        }

        .prepare__img-block {
          &::before {
          }

          .prepare__img-secondary {
          }
          .prepare__img-main {
          }
        }
      }
    }
  }
}

@media (max-width: 1450px) {
  .prepare {
    .prepare__wrapper {
      .prepare__block {
      }

      .prepare__block_1 {
        .prepare__text-block {
          .prepare__title {
          }
          .prepare__text {
          }
          .prepare__list-block {
            .prepare__list-title {
            }
            .prepare__list {
              li {
                &::before {
                }
                &:last-child {
                }
              }
            }
          }
        }

        .prepare__img-block {
          &::before {
          }

          .prepare__img-secondary {
            left: 240px;
          }
          .prepare__img-main {
          }
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  .prepare {
    .prepare__wrapper {
      .prepare__block {
      }

      .prepare__block_1 {
        padding-bottom: 160px;
        flex-direction: column;
        .prepare__text-block {
          margin: 0px 0px 40px 0px;
          max-width: unset;
          .prepare__title {
            max-width: unset;
          }
          .prepare__text {
            max-width: unset;
          }
          .prepare__list-block {
            .prepare__list-title {
            }
            .prepare__list {
              li {
                &::before {
                }
                &:last-child {
                }
              }
            }
          }
        }

        .prepare__img-block {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          &::before {
          }

          .prepare__img-secondary {
            left: unset;
          }
          .prepare__img-main {
          }
        }
      }
    }
  }
}
@media (max-width: 700px) {
  .prepare {
    .prepare__wrapper {
      .prepare__block {
      }

      .prepare__block_1 {
        .prepare__text-block {
          .prepare__title {
            font-size: 44px;
          }
          .prepare__text {
          }
          .prepare__list-block {
            .prepare__list-title {
            }
            .prepare__list {
              li {
                &::before {
                }
                &:last-child {
                }
              }
            }
          }
        }

        .prepare__img-block {
          &::before {
            background: none;
            content: unset;
          }

          .prepare__img-secondary {
            left: 0;
            transform: none;
            width: 51.5%;
            height: unset;
            bottom: -120px;
            top: unset;
          }
          .prepare__img-main {
            width: 76.6%;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .prepare {
    padding-top: 40px;
    padding-bottom: 0px;
    .prepare__wrapper {
      .prepare__block {
      }

      .prepare__block_1 {
        .prepare__text-block {
          .prepare__title {
            font-size: 25px;
          }
          .prepare__text {
          }
          .prepare__list-block {
            .prepare__list-title {
            }
            .prepare__list {
              li {
                &::before {
                }
                &:last-child {
                }
              }
            }
          }
        }

        .prepare__img-block {
          &::before {
          }

          .prepare__img-secondary {
          }
          .prepare__img-main {
          }
        }
      }
    }
  }
}

.count {
  .count__wrapper {
    display: flex;
    flex-direction: row;
    .count__block {
      max-width: 50%;
    }
    .count__block_1 {
      padding: 88px 0px 20px 0px;
      width: 100%;
      display: flex;
      flex-direction: column;
      background: #1d1d1a;
      .count__pre-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 184.5%;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
      }
      .count__title {
        align-self: center;
        max-width: 415px;
        @include fontTitle1;
        font-weight: 400;
        font-size: 40px;
        line-height: 124%;
        text-align: center;
        letter-spacing: 0.03em;
        color: #b68c6e;
        margin: 0px 0px 30px 0px;
      }
      .count__form {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        width: 100%;
        align-self: center;

        .count__input-name,
        .count__input-tel {
          padding: 30px 32px 26px 32px;
          outline: none;
          color: #b68c6e;
          font-weight: 400;
          font-size: 20px;
          line-height: 184.5%;
          text-transform: uppercase;
          background: none;
          border: 1px solid #b68c6e;
          &::placeholder {
            color: #504339;
          }
        }

        .count__input-name {
          margin: 0px 0px 25px 0px;
        }
        .count__input-tel {
          margin: 0px 0px 22px 0px;
        }
        .count__photo {
          position: relative;
          z-index: 1px;
          padding: 30px 32px 26px 32px;
          border: 1px dashed #b68c6e;
          display: flex;
          align-items: center;
          cursor: pointer;
          .count__input-photo {
            z-index: -1;
            position: absolute;
          }
          .count__photo-clip {
          }
          .count__photo-text {
            font-weight: 400;
            font-size: 20px;
            line-height: 184.5%;
            text-transform: uppercase;
            color: #b68c6e;
            margin: 0px 0px 0px 12px;
          }
        }

        .count__processing {
          cursor: pointer;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          position: relative;
          z-index: 1;
          input {
            z-index: -2;
            position: absolute;
            width: 0.1px;
            height: 0.1px;
            top: 0px;

            &:checked + p::before {
              background-color: #b68c6e;
            }
          }
          p {
            margin: 25px 0px 30px 0px;
            display: flex;
            flex-direction: row;
            align-items: center;
            font-weight: 500;
            font-size: 16px;
            line-height: 184.5%;
            color: #b68c6e;
            a {
              color: #b68c6e;
              text-decoration: underline;
            }

            &::before {
              content: "";
              display: block;
              width: 20px;
              height: 20px;
              border: 1px solid #b68c6e;
              margin: 0px 16px 0px 0px;
            }
          }
        }
        .count__submit {
          padding: 30px 32px 26px 32px;
          font-weight: 500;
          font-size: 20px;
          line-height: 184.5%;
          text-align: center;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: #ffffff;
          background: none;
          border: 1px solid #b68c6e;
          cursor: pointer;
          transition: all 0.3s ease 0s;
          &:hover {
          }
        }
      }
    }

    .count__block_2 {
      img {
        height: 100%;
      }
    }
  }
}

@media (max-width: 1200px) {
  .count {
    .count__wrapper {
      flex-direction: column;
      .count__block {
        max-width: none;
      }
      .count__block_1 {
        padding-bottom: 80px;

        .count__pre-title {
        }
        .count__title {
        }
        .count__form {
          max-width: 500px;

          .count__input-name,
          .count__input-tel {
            &::placeholder {
            }
          }

          .count__input-name {
          }
          .count__input-tel {
          }
          .count__photo {
            .count__input-photo {
            }
            .count__photo-clip {
            }
            .count__photo-text {
            }
          }

          .count__processing {
            input {
              &:checked + p::before {
              }
            }
            p {
              a {
              }

              &::before {
              }
            }
          }
          .count__submit {
          }
        }
      }

      .count__block_2 {
        display: none;
        img {
        }
      }
    }
  }
}

@media (max-width: 560px) {
  .count {
    .count__wrapper {
      .count__block {
      }
      .count__block_1 {
        .count__pre-title {
        }
        .count__title {
          max-width: none;
        }
        .count__form {
          max-width: none;
          .count__input-name,
          .count__input-tel {
            font-size: 16px;
            padding: 20px 22px 18px 22px;
            &::placeholder {
            }
          }

          .count__input-name {
          }
          .count__input-tel {
          }
          .count__photo {
            padding: 20px 22px 18px 22px;

            .count__input-photo {
            }
            .count__photo-clip {
            }
            .count__photo-text {
              font-size: 16px;
            }
          }

          .count__processing {
            input {
              &:checked + p::before {
              }
            }
            p {
              a {
              }

              &::before {
              }
            }
          }
          .count__submit {
            font-size: 16px;
            padding: 20px 22px 18px 22px;
          }
        }
      }

      .count__block_2 {
        img {
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .count {
    .count__wrapper {
      .count__block {
      }
      .count__block_1 {
        .count__pre-title {
        }
        .count__title {
          font-size: 30px;
        }
        .count__form {
          .count__input-name,
          .count__input-tel {
            &::placeholder {
            }
          }

          .count__input-name {
          }
          .count__input-tel {
          }
          .count__photo {
            .count__input-photo {
            }
            .count__photo-clip {
              width: 20px;
            }
            .count__photo-text {
              margin: 0px 0px 0px 8px;
            }
          }

          .count__processing {
            input {
              &:checked + p::before {
              }
            }
            p {
              flex-wrap: wrap;
              justify-content: center;
              a {
              }

              &::before {
              }
            }
          }
          .count__submit {
          }
        }
      }

      .count__block_2 {
        img {
        }
      }
    }
  }
}
