// base
@import "../components/base/reset";
@import "../components/base/fonts";
@import "../components/base/variables";
@import "../components/base/mixins";
@import "../components/base/stable";
// layout
@import "../components/layout/header";
@import "../components/layout/footer";

// blocks
@import "../components/blocks/breadcrumbs";
@import "../components/blocks/proposal";

.stocks {
  position: relative;
  &::after {
    position: absolute;
    z-index: -1;
    top: 100vh;
    right: 580px;
    transform: translateY(-100%);
    content: "";
    width: 607px;
    height: 607px;
    background: url("../img/pages/doctors/doctors__dots.png");
    @media (max-width: 1650px) {
      right: 400px;
    }
    @media (max-width: 1450px) {
      right: 250px;
    }
    @media (max-width: 1250px) {
      right: 150px;
    }
    @media (max-width: 1050px) {
      content: unset;
    }

    @media (max-height: 740px) {
      top: 740px;
    }
  }
  &::before {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        182.31deg,
        #ae9181 3.47%,
        #b79b8d 20.53%,
        #bca092 34.59%,
        #cbb1a4 49.72%,
        #ceb6aa 61.98%,
        #d1baac 74.8%,
        #d3bcaf 99.62%
      ),
      #f0e3da;
    @media (max-height: 740px) {
      height: 740px;
    }
  }
  .stocks__header {
    .offer__title {
      text-transform: uppercase;
      word-wrap: break-word;
      position: relative;
      &::after {
        z-index: -1;
        position: absolute;
        left: -120px;
        top: 330px;
        transform: translateY(-100%);
        content: "";
        width: 239px;
        height: 239px;
        background: url("../img/pages/doctors/doctors__circle.svg");
        @media (max-width: 1050px) {
          content: none;
        }
      }
    }
  }
}

.stocks__list {
  padding-top: 40px;
  padding-bottom: 130px;
  z-index: 1;
  .stocks__item {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0px 0px 50px 0px;
    // height: 600px;
    &:last-child {
      margin: 0;
    }
    .stocks__img {
      position: absolute;
      left: 0px;
      width: 60%;
      z-index: 2;
    }
    .stocks__block {
      margin: 92px 0px 0px 0px;
      padding: 140px 35px 45px 110px;
      position: relative;
      width: 986.23px;
      display: flex;
      flex-direction: column;

      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        bottom: 0;
        display: block;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 510px;
        background: #b68c6e;
      }
      .stocks__text {
        z-index: 1;
        @include fontQuote;
        color: #ffffff;
        display: block;
        align-self: flex-end;
        font-style: italic;
        font-weight: 400;
        font-size: 29px;
        line-height: 140%;
        display: flex;
        flex-direction: row;
        width: 515px;
      }
      .stocks__btn-block {
        margin: 124px 0px 0px 0px;
        .stocks__link {
          font-weight: 700;
          font-size: 25px;
          line-height: 140%;
          text-transform: uppercase;
          &_1 {
            color: #fff;
            margin: 0px 188px 0px 0px;
          }
          &_2 {
            color: #1d1d1a;
          }
        }
      }
    }
  }
}

@media (max-width: 1500px) {
  .stocks__list {
    .stocks__item {
      &:last-child {
      }
      .stocks__img {
        width: 50%;
      }
      .stocks__block {
        margin: 50px 0px 0px 0px;
        padding: 140px 35px 45px 110px;
        &::after {
          height: 460px;
        }
        .stocks__text {
        }
        .stocks__btn-block {
          margin: 70px 0px 0px 0px;
          .stocks__link {
            &_1 {
            }
            &_2 {
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1250px) {
  .stocks__list {
    .stocks__item {
      &:last-child {
      }
      .stocks__img {
        width: 50%;
      }
      .stocks__block {
        margin: 50px 0px 0px 0px;
        padding: 70px 35px 45px 110px;
        &::after {
          height: 380px;
        }
        .stocks__text {
        }
        .stocks__btn-block {
          margin: 70px 0px 0px 0px;
          .stocks__link {
            &_1 {
            }
            &_2 {
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1150px) {
  .stocks__list {
    .stocks__item {
      &:last-child {
      }
      .stocks__img {
        width: 45%;
      }
      .stocks__block {
        margin: 50px 0px 0px 0px;
        padding: 70px 35px 45px 110px;
        &::after {
          height: 360px;
        }
        .stocks__text {
        }
        .stocks__btn-block {
          margin: 50px 0px 0px 0px;
          .stocks__link {
            &_1 {
            }
            &_2 {
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1050px) {
  .stocks__list {
    padding-bottom: 100px;
    .stocks__item {
      flex-direction: column;
      &:last-child {
      }
      .stocks__img {
        width: 100%;
        position: relative;
        top: unset;
        right: unset;
        bottom: unset;
        left: unset;
      }
      .stocks__block {
        width: 100%;
        margin: 0px 0px 0px 0px;
        padding: 30px 10px 45px 90px;
        &::after {
          height: 360px;
          height: 100%;
          left: 40px;
        }
        .stocks__text {
          width: 100%;
        }
        .stocks__btn-block {
          margin: 50px 0px 0px 0px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .stocks__link {
            &_1 {
              margin: 0px 0px 0px 0px;
            }
            &_2 {
            }
          }
        }
      }
    }
  }
}

@media (max-width: 660px) {
  .stocks__list {
    .stocks__item {
      &:last-child {
      }
      .stocks__img {
      }
      .stocks__block {
        &::after {
        }
        .stocks__text {
          font-size: 23px;
        }
        .stocks__btn-block {
          margin: 35px 0px 0px 0px;

          .stocks__link {
            font-size: 20px;
            &_1 {
            }
            &_2 {
            }
          }
        }
      }
    }
  }
}

@media (max-width: 530px) {
  .stocks__list {
    padding-bottom: 50px;

    .stocks__item {
      &:last-child {
      }
      .stocks__img {
      }
      .stocks__block {
        padding-left: 15px;
        &::after {
          left: 0px;
        }
        .stocks__text {
        }
        .stocks__btn-block {
          .stocks__link {
            &_1 {
            }
            &_2 {
            }
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .stocks__list {
    .stocks__item {
      &:last-child {
      }
      .stocks__img {
      }
      .stocks__block {
        padding-bottom: 30px;
        &::after {
        }
        .stocks__text {
        }
        .stocks__btn-block {
          margin: 20px 0px 0px 0px;
          flex-direction: column;
          align-items: center;

          .stocks__link {
            margin: 10px 0px 0px 0px;

            &_1 {
            }
            &_2 {
            }
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .stocks__list {
    .stocks__item {
      &:last-child {
      }
      .stocks__img {
      }
      .stocks__block {
        &::after {
        }
        .stocks__text {
          font-size: 20px;
        }
        .stocks__btn-block {

          .stocks__link {

            &_1 {
            }
            &_2 {
            }
          }
        }
      }
    }
  }
}