.advantage {
  padding-top: 130px;
  padding-bottom: 130px;
  .advantage__wrapper {
    .advantage__section-title {
      margin: 0px 0px 70px 0px;
    }
    .advantage__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      grid-gap: 20px;
      .advantage__item {
        color: #22211e;
        border: 2px solid #f0e3da;
        padding: 45px 45px 45px 45px;
        .advantage__img {
        }
        .advantage__title {
          margin: 24px 0px 16px 0px;
          font-weight: 600;
          font-size: 18px;
          line-height: 138.2%;
          text-transform: uppercase;
        }
        .advantage__text {
          font-weight: 400;
          font-size: 18px;
          line-height: 180%;
          /* or 32px */

          /* 4 */

          color: #22211e;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .advantage {
    .advantage__wrapper {
      .advantage__section-title {
      }
      .advantage__list {
        grid-template-columns: repeat(2, 1fr);
        .advantage__item {
          .advantage__img {
          }
          .advantage__title {
          }
          .advantage__text {
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .advantage {
    padding-top: 30px;
    padding-bottom: 20px;
    .advantage__wrapper {
      .advantage__section-title {
      }
      .advantage__list {
        grid-template-columns: repeat(2, 1fr);
        .advantage__item {
          padding: 30px 40px 30px 20px;
          .advantage__img {
          }
          .advantage__title {
          }
          .advantage__text {
          }
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .advantage {
    .advantage__wrapper {
      .advantage__section-title {
      }
      .advantage__list {
        grid-template-columns: repeat(1, 1fr);
        .advantage__item {
          .advantage__img {
          }
          .advantage__title {
          }
          .advantage__text {
          }
        }
      }
    }
  }
}

.advantage__block_2 {
  .advantage__footer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .advantage__plus {
      width: 100%;
      margin: 0px 0px 100px 0px;
      display: flex;
      flex-direction: row;
      padding: 14px 16px 14px 16px;
      background: #FFF6F0;
      .advantage__text {
        margin: 0px 0px 0px 19px;
        font-weight: 400;
        font-size: 18px;
        line-height: 180%;
        color: #1d1d1a;
      }
    }

    .advantage__link {
    }
  }
}
