.breadcrumbs {
  padding-top: 28px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .breadcrumbs__link {
    color: #1D1D1A;
    &::after {
      content: "\a0::\a0";
    }
    &:last-child::after{
      content: unset;
    }
  }
}
