.services {
  background: url("../img/stable/line-section-vertical.svg");
  background-repeat: no-repeat;
  background-position: top 0px right 30px;
  background-size: auto 100%;
  padding-top: 80px;
  padding-bottom: 100px;
  .services__wrapper {
    .services__title {
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      margin: 0px 0px 45px 0px;
    }

    .services__list {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: auto auto auto;
      .services__item {
        padding: 50px 40px 50px 45px;
        color: #22211e;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border: 1px solid rgba(182, 140, 110, 0.19);

        &:hover {
          background: #f0e3da;
          border: 1px solid rgba(182, 140, 110, 0.19);
        }

        .services__img {
        }
        .services__title {
          margin: 21px 0px 21px 0px;
          font-weight: 600;
          font-size: 18px;
          line-height: 138.2%;
          text-transform: uppercase;
        }
        .services__text {
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .services {
    .services__wrapper {
      .services__title {
      }

      .services__list {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: auto auto;
        .services__item {
          &:hover {
          }

          .services__img {
          }
          .services__title {
          }
          .services__text {
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .services {
    background: none;
    padding-top: 30px;
    padding-bottom: 20px;
    .services__wrapper {
      .services__title {
        margin: 0px 0px 30px 0px;
      }

      .services__list {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: auto;
        .services__item {
          padding: 32px 20px 32px 20px;
          &:hover {
          }

          .services__img {
          }
          .services__title {
          }
          .services__text {
          }
        }
      }
    }
  }
}
